<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Userid</th>
        <th scope="col">BookId</th>
        <th scope="col">PaymentStatus</th>
        <th scope="col">Amount</th>
        <th scope="col"> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of OrderApiData ">
        <th scope="row">1</th>
        <td>{{list.userId}}</td>
        <td>{{list.bookId}}</td>
        <td>{{list.paymentStatus}}</td>
        <td>{{list.amount}}</td>
        <td>
             <button class="btn btn-success me-2"(click)="Approve()">Approve</button>
             <button class="btn btn-danger"(click)="Reject()" >Reject</button>
        </td>
      </tr>
      
    </tbody>
  </table>
