 <!-- login part -->

 <div class="outerBody">
    <div class="container">
      <h2 class="login-title">Sign In</h2>
      <form class="login-form" #register1="ngForm" (ngSubmit)="login()"  >
        <div>
          <label for="email">Email </label>
          <input id="email" type="email"  class="form-control" #email="ngModel" name="email"  [(ngModel)]="form.email" placeholder="Email" [ngClass]="{error:email.errors?.['required']&&(email.dirty|| email.touched)}" required/>
          <small *ngIf="email.errors?.['required'] && (email.dirty|| email.touched)" class="text-danger">Email is required</small>

          <!-- <span>{{emailerrormssg}}</span> -->
        </div>
        
        <div>
          <label for="password">Password </label>
          <input id="password" type="password"  class="form-control" #password="ngModel" name="password"  [(ngModel)]="form.password" placeholder="Password" [ngClass]="{error:password.errors?.['required']&&(password.dirty|| password.touched)}" required/>
          <small *ngIf="password.errors?.['required'] && (password.dirty|| password.touched)" class="text-danger">Password is required</small>
        </div>
         
          <button class="btn btn--form mt-3" id="reg" >Login</button>
          <small class="text-danger">{{loginErrorMssg}}</small>
          <div class="text-center pt-4 text-muted">Don't have an account? <a id="forget" routerLink="/register" style="text-decoration: none;">Sign Up</a></div>
          
      </form>
    </div>
  </div>


 <!-- <form class="container-fluid" #register1="ngForm" (ngSubmit)="login(register1.value)" style="width: 400px;float: right; margin-top: 30px;margin-right: 100px;">
      
	<img class="mb-4" src="./assets/Logo.png" alt="" width="200" height="57">
	  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

	  <div class="form-floating">
		  <input type="text" ngModel class="form-control" name="Username" [(ngModel)]="username" >
		  <label for="floatingInput">Username</label>
		  <span>{{errormssg}}</span>
	  </div>
	  <div class="form-floating mt-2">
		  <input type="text" ngModel class="form-control" name="Password"  [(ngModel)]="password">
		  <label for="floatingPassword">Password</label>
		  <span>{{errormssg}}</span>
	  </div>

	  <div class="checkbox mb-3 mt-2">
		  <label>
			  <input type="checkbox" value="remember-me"> Remember me
		  </label>
	  </div>
	  <button class="w-100 btn btn-lg btn-primary" id="reg" >Login</button>
	  <div class="text-center pt-4 text-muted">Already have account?<a id="forget" routerLink="/register">Register</a></div>
	  
  </form> -->