<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fabook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e0751557-5cd8-478d-8f0e-31ffd6d214fd/resourceGroups/cg-sprint/providers/Microsoft.Web/sites/FaBook</ResourceId>
    <UserName>$FaBook</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fabook.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>