<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionbooktodb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d621781a-3d22-4684-82ec-d139bc4287b8/resourceGroups/rg-sprint/providers/Microsoft.Web/sites/functionBooktoDb</ResourceId>
    <UserName>$functionBooktoDb</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionbooktodb.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>