<h2 class="text-center mt-3 text-success py-3" style="background-color: lightgrey;">{{title}}</h2>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
    <button type="button" class="btn btn-primary me-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Book
    </button>
    </div>
    <div class="card-body mb-2">
      <table class="table table-hover" style="border: 1px solid gray;">
        <thead class="table-info">
          <tr>
            <th style="border: 1px solid gray;">Sr.No</th>
            <th style="border: 1px solid gray;">Name</th>
            <th style="border: 1px solid gray;">Author</th>
            <th style="border: 1px solid gray;">Publisher</th>
            <th style="border: 1px solid gray;">Price</th>
            <th style="border: 1px solid gray;">Date</th>
            <th style="border: 1px solid gray;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of bookList; let number = index">
            
            <td style="border: 1px solid gray;">
                {{number+1}}
              </td>
            <td style="border: 1px solid gray;">
              {{i.name}}
            </td>
            <td style="border: 1px solid gray;">
              {{i.author}}
            </td>
            <td style="border: 1px solid gray;">
              {{i.publisher}}
            </td>
            <td style="border: 1px solid gray;">
              {{i.price | currency:'&#8377;'}}
            </td>
            <td style="border: 1px solid gray;">
               {{i.publishDate | date:'dd-MM-yyyy'}}
            </td>
            <td>
                <a routerLink="/books/{{i.id}}/edit" class="btn btn-outline-warning me-2 btn-sm" >Edit</a> 
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(i.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  
  <!--=----------------------------Add Book Modal ------------------------------->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #book="ngForm" (ngSubmit)="addBook()">
            <div class="row mb-3 mt-2">
                <div class="col-6">
                    <label class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Book Name" [(ngModel)]="form.name" #name="ngModel" [ngClass]="{error: name.errors?.['required'] && (name.dirty || name.touched)}" required>
                    <small *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="text-danger">Name is required</small>
                </div>
                <div class="col-6">
                    <label class="form-label">Author</label>
                    <input type="text" name="author" class="form-control" placeholder="Author" [(ngModel)]="form.author"  #author="ngModel" [ngClass]="{error: author.errors?.['required'] && (author.dirty || author.touched)}" required>
                    <small *ngIf="author.errors?.['required'] && (author.dirty || author.touched)" class="text-danger">Author name is required</small>
                </div>
                </div>
                <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label"class="form-label">Publisher</label>
                    <input type="text" name="publisher" class="form-control" placeholder="Publisher Name" [(ngModel)]="form.publisher" #publisher="ngModel" [ngClass]="{error: publisher.errors?.['required'] && (publisher.dirty || publisher.touched)}" required>
                    <small *ngIf="publisher.errors?.['required'] && (publisher.dirty || publisher.touched)" class="text-danger">Publisher name is required</small>
                </div>
                <div class="col-6">
                    <label class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" placeholder="Price" [(ngModel)]="form.price" #price="ngModel" [ngClass]="{error: price.errors?.['required'] && (price.dirty || price.touched) || price.errors?.['min']}" required min="1">
                    <small *ngIf="price.errors?.['required'] && (price.dirty || price.touched)" class="text-danger">Price is required</small>
                    <small *ngIf="price.errors?.['min']" class="text-danger">Invalid Price</small>

                </div>
                </div>
                <div class="row mb-4">
                <div class="col-6">
                    <label class="form-label">Date</label>
                    <input type="date" name="date" class="form-control" [(ngModel)]="form.date" #date="ngModel" [ngClass]="{error: date.errors?.['required'] && (date.dirty || date.touched)}" required>
                    <small *ngIf="date.errors?.['required'] && (date.dirty || date.touched)" class="text-danger">Date is required</small>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="book.form.status==='INVALID'">Save</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>


    
            