<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-warning ">
        <div class="container-fluid">
            <span class="navbar-text "><i class="fa fa-book" style="color: black; font-size: 32px;"></i><b style="color: black; font-family: 'Kalam';font-size: 28px;"> The Bookclub</b></span>
        </div>
        <div class="container-fluid justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user-circle" style="font-size:24px"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">{{Name}}</a></li>
                      <li><a class="dropdown-item" href="#">{{UserEmail}}</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">{{Role}}</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/home']"  >Home <i class="fa fa-home" style="font-size:19px"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/myorders']"  >My Orders <i class="fa fa-shopping-bag" style="font-size:15px"></i></a>
                </li> 
                <li class="nav-item ms-5">
                    <span class="nav-link text-dark btn btn-light border-dark" (click)="logout()" style="cursor:pointer">Logout <i class="fa fa-power-off" style="font-size:15px"></i></span>
                </li>
            </ul>
        </div>

    </nav>
    <section>
        <div class="container my-5">
            <header class="mb-4">
                <div class="row">
                    <div class="col-1">
                        <h3>Books</h3>
                    </div>
                    <div class="col-10">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback" style="color:gray"></span>
                            <input type="search" class="form-control" name="search" [(ngModel)]="showBook"
                                placeholder="Search Books...">
                        </div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-shopping-cart" routerLink="/carts"
                            style="font-size: 45px; color:black; cursor: pointer;">
                            <span class="position-absolute start-10 translate-middle badge bg-danger"
                                style="font-size:9px">
                                {{count}}
                            </span>
                        </i>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 mb-4" *ngFor="let item of list | filter:showBook">
                    <div class="card px-4 border shadow-0 mb-4 mb-lg-4" style="height: 100%;">
                        <div class="mask px-2" style="height: 50px;">
                            <div class="d-flex justify-content-between">
                                <h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
                                <i class="fa fa-heart fa-lg float-end pt-2 m-2" style="color:gray"></i>
                            </div>
                        </div>

                        <div class="card-body d-flex flex-column pt-3 border-top">
                            <p>{{item.name}}</p>
                            <div class="price-wrap mb-2">
                                <strong class="">{{item.price | currency:'&#8377;'}}</strong>
                            </div>
                            <div
                                class="d-flex align-items-end pt-3 px-0 border-top pb-0 mt-auto justify-content-center">
                                <!-- <div class="row"> -->

                                <!-- <button type="button" class="btn btn-outline-success w-100 mb-2">Add to cart</button> -->
                                <button class="btn btn-outline-warning w-100"
                                    routerLink="/view/{{item.id}}/books">View</button>

                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


</body>

</html>