<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>

<nav class="navbar navbar-expand-sm bg-warning ">
    <div class="container-fluid">
      <span class="navbar-text "><i class="fa fa-book" style="color: black; font-size: 32px;"></i><b
          style="color: black; font-family: 'Kalam';font-size: 28px;"> The Bookclub</b></span>
    </div>
    <div class="container-fluid justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle" style="font-size:24px"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">{{Name}}</a></li>
            <li><a class="dropdown-item" href="#">{{UserEmail}}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">{{Role}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/admin/order']" routerLinkActive="router-link-active">Orders <i
              class="fa fa-shopping-bag" style="font-size:15px"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/admin/books']" routerLinkActive="router-link-active">Books <i
              class="fa fa-book" style="font-size:17px"></i></a>
        </li>
        <li class="nav-item ms-5">
          <span class="nav-link text-dark btn btn-light border-dark" (click)="logout()" style="cursor:pointer">Logout <i
              class="fa fa-power-off" style="font-size:15px"></i></span>
        </li>
      </ul>
    </div>
  
  </nav>
  


<div class="container">
    <div class="card mt-5 mx-5">
        <div class="card-header p-3 fw-semibold fs-4">Edit Book</div>
        <div class="card-body">
    <form [formGroup]="editBook" (ngSubmit)="submit()">
        <div class="row mb-3 mt-2">
            <div class="col-6">
                <label class="form-label">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Book Name" formControlName="name">
            </div>
            <div class="col-6">
                <label class="form-label">Author</label>
                <input type="text" name="author_name" class="form-control" placeholder="Author" formControlName="author">
            </div>
            </div>
            <div class="row mb-3">
            <div class="col-6">
                <label class="form-label"class="form-label">Publisher</label>
                <input type="text" name="publish_name" class="form-control" placeholder="Publisher Name" formControlName="publisher">
            </div>
            <div class="col-6">
                <label class="form-label">Price</label>
                <input type="number" name="price" class="form-control" placeholder="Price" formControlName="price">
            </div>
            </div>
            <div class="row mb-4">
            <div class="col-6">
                <label class="form-label">Date</label>
                <input type="date" name="publishDate" class="form-control" formControlName="publishDate">
            </div>
            </div>
            <div class="text-center">
                <button type="butt" class="btn btn-primary me-2 w-10" (click)="back()">Cancel</button>
                <button type="submit" class="btn btn-success w-10">Update</button>
            </div>
      </form>
</div>
</div>
</div>   -->