<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <nav class="navbar navbar-expand-sm bg-warning ">
    <div class="container-fluid">
        <span class="navbar-text "><i class="fa fa-book" style="color: black; font-size: 32px;"></i><b style="color: black; font-family: 'Kalam';font-size: 28px;"> The Bookclub</b></span>
    </div>
    <div class="container-fluid justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user-circle" style="font-size:24px"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">{{Name}}</a></li>
                  <li><a class="dropdown-item" href="#">{{UserEmail}}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">{{Role}}</a></li>
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <i class="fa fa-home" style="font-size:20px"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['/myorders']"  >My Orders <i class="fa fa-shopping-bag" style="font-size:15px"></i></a>
          </li> 
            <li class="nav-item ms-5">
                <span class="nav-link text-dark btn btn-light border-dark" (click)="logout()" style="cursor:pointer">Logout <i class="fa fa-power-off" style="font-size:15px"></i></span>
            </li>
            <li class="fa fa-shopping-cart nav-item ms-3 me-2" routerLink="/carts"
                            style="font-size: 38px; color:black; cursor: pointer;">
                            <span class="position-absolute start-10 translate-middle badge bg-danger"
                                style="font-size:9px">
                                {{count}}
                            </span>
                </li>
        </ul>
    </div>

</nav>
    <section class="h-100 h-custom">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
      
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">Shopping Bag</th>
                      <th scope="col">Unit Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <!-- <th scope="col">Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of cartItems">
                      <th scope="row">
                        <div class="d-flex align-items-center">
                          <img src="https://i.imgur.com/2DsA49b.webp" class="img-fluid rounded-3"
                            style="width: 120px;" alt="Book">
                          <div class="flex-column ms-4">
                            <p class="mb-2">{{c.book.name}}</p>
                            <p class="mb-0">Author: {{c.book.author}}</p>
                          </div>
                        </div>
                      </th>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;">{{c.book.price | currency:'&#8377;'}}</p>
                      </td>
                      <td class="align-middle">
                        <div class="d-flex flex-row">
                          {{c.quantity}} Qty
                        </div>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500;">{{c.bookPrice | currency:'&#8377;'}}</p>
                      </td>
                      <!-- <td class="align-middle">
                        <i class="fa fa-trash-o" style="font-size: 30px; cursor:pointer; color:red" (click)="cartDelete(c.id)"></i>
                      </td>  -->
                    </tr>
                  </tbody>
                </table>
              </div>
      
              <div class="card shadow-2-strong" style="border-radius: 16px; margin-bottom: 5%;">
                <div class="card-body p-4">
      
                  <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                        <a routerLink="/home" class="btn btn-outline-warning btn-lg mb-3">< Continue Shopping</a>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="row">
                        
                      </div>
                    </div>
                    <div class="col-lg-4 col-xl-6">
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">{{sum | currency:'&#8377;'}}</p>
                      </div>
      
                      <!-- <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-0">Shipping Charges</p>
                        <p class="mb-0">{{0 | currency:'&#8377;'}}</p>
                      </div> -->
      
                      <hr class="my-4">
      
                      <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                        <p class="mb-2">Total (tax included)</p>
                        <p class="mb-2">{{sum | currency:'&#8377;'}}</p>
                      </div>
      
                      <button type="button" class="btn btn-primary btn-block btn-lg" [routerLink]="['/payments']" [ngClass]="sum == 0? 'disabled' : 'enable'">
                        <div class="d-flex justify-content-between">
                          <span>Proceed to Checkout</span>&nbsp;&nbsp;
                          <span>{{sum | currency:'&#8377;'}}</span>
                        </div>
                      </button>
      
                    </div>
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
</body>
</html>
