




  <!-- registration Part-->
  <div class="outerBody">
    <div class="container">
      <h2 class="login-title">Sign Up</h2>
      <form class="login-form"  #register="ngForm" (ngSubmit)="getData()" >
        <div >
          <label for="name">Name </label>
          <input id="name" type="text"  class="form-control" #username="ngModel" name="username" [(ngModel)]="form.username" placeholder="Username" [ngClass]="{error:username.errors?.['required']&&(username.dirty|| username.touched)}" required/>
          <small *ngIf="username.errors?.['required'] && (username.dirty|| username.touched)" class="text-danger">Name is required</small>
          
        </div>
        <div>
          <label for="email">Email </label>
          <input id="email" type="email"  class="form-control" #email="ngModel" name="email"  [(ngModel)]="form.email" placeholder="Email" [ngClass]="{error:email.errors?.['required']&&(email.dirty|| email.touched)}" required/>
          <small *ngIf="email.errors?.['required'] && (email.dirty|| email.touched)" class="text-danger">Email is required</small>

          <!-- <span>{{emailerrormssg}}</span> -->
        </div>
        <div>
          <label for="password">Password </label>
          <input id="password" type="password"  class="form-control" #password="ngModel" name="password"  [(ngModel)]="form.password" placeholder="Password" [ngClass]="{error:password.errors?.['required']&&(password.dirty|| password.touched)}" required/>
          <small *ngIf="password.errors?.['required'] && (password.dirty|| password.touched)" class="text-danger">Password is required</small>

          <!-- <span>{{passworderrormssg}}</span> -->
        </div>
         <!-- <div>
        <label for="password">Role </label>
          <input id="password" type="hidden" ngModel class="form-control" #role="ngModel" name="role"  [(ngModel)]="form.role" placeholder="User/Admin" [ngClass]="{error:role.errors?.['required']&&(role.dirty|| role.touched)}" required/> -->
          <!-- <small *ngIf="email.errors?.['required'] && (email.dirty|| email.touched)" class="text-danger">Email is required</small> -->

           
        <!-- </div> -->
        
         
          <button class="btn btn--form mt-3" id="reg" type="submit" >Sign Up</button>
          <div class="text-center pt-4 text-muted">Already have account?  <a id="forget" routerLink="" style="text-decoration: none;">Sign in</a></div>
          
      </form>
    </div>
  </div>


    <!-- <div class="container">
      <h2 class="login-title">Log in</h2>
  
      <form class="login-form">
        <div>
          <label for="name">Name </label>
          <input
                 id="name"
                 type="text"
                 placeholder="Eren Buruk"
                 name="name"
                 required
                 />
        </div>
  
        <div>
          <label for="email">Email </label>
          <input
                 id="email"
                 type="email"
                 placeholder="me@example.com"
                 name="email"
                 required
                 />
        </div>
  
        <div>
          <label for="password">Password </label>
          <input
                 id="password"
                 type="password"
                 placeholder="password"
                 name="password"
                 required
                 />
        </div>
  
        <button class="btn btn--form" type="submit" value="Log in">
          Log in
        </button>
      </form>
  </div>
     -->


    <!-- <form class="container-fluid" #register1="ngForm" (ngSubmit)="login(register1.value)" style="width: 400px;float: right; margin-top: 30px;margin-right: 100px;">
      
      <img class="mb-4" src="./assets/Logo.png" alt="" width="200" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" ngModel class="form-control" name="Username" [(ngModel)]="username" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mt-2">
            <input type="text" ngModel class="form-control" name="Password"  [(ngModel)]="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3 mt-2">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" id="reg" >Login</button>
        <span>{{errormssg}}</span>
    </form> -->